@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');
body{
    margin: 10px 15px;
    padding: 0px;
}
h2{
    font-family: "Imperial Script", serif;
     padding: 10px 10px ;
    color: rgb(38, 128, 131);
}

h3{
    font-family: "Imperial Script", serif;
    padding: 10px 15px;
    color: darkcyan;
}
h4 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding:10px 10px;
color: rgb(178, 32, 105);
}
.receita_sushi-s{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px;
    color: rgb(38, 128, 131);
}
.receitas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px;
    color: skyblue;
}