@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&family=Pacifico&display=swap');
body{
    margin: 10px 15px;
    padding: 0px;
}
h1{
    font-size: 50px;
    font-family: "Sour gummy", serif;
     padding: 10px 10px ;
    color: rgb(38, 128, 131);
}
h2{ 
    font-size: 45px;
    color: royalblue;
    font-family: "Imperial Script", serif;
}
h3{
    font-size: 30px;
    color: skyblue;

}

